<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
    xmlns="http://java.sun.com/xml/ns/javaee" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

	<display-name>OTV_JSF_PrimeFaces_Spring_Hibernate</display-name>

	<!-- Spring Context Configuration' s Path definition -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
		    /WEB-INF/applicationContext.xml
	     </param-value>
	</context-param>

	<!-- The Bootstrap listener to start up and shut down Spring's root WebApplicationContext. 
		It is registered to Servlet Container -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>
			org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>

	<!-- Project Stage Level -->
	<context-param>
		<param-name>javax.faces.PROJECT_STAGE</param-name>
		<param-value>Development</param-value>
	</context-param>

	<!-- Primefaces Theme -->
	<context-param>
		<param-name>primefaces.THEME</param-name>
<!-- 		<param-value>black-tie</param-value> -->
		<param-value>bootstrap</param-value>
	</context-param>

	<!-- Primefaces Skip Comments -->
	<context-param>
		<param-name>javax.faces.FACELETS_SKIP_COMMENTS</param-name>
		<param-value>true</param-value>
	</context-param>

	<!-- Primefaces postavljanje defaultne timezone na systemsku (konvertiranje 
		datuma i slično) -->
	<context-param>
		<param-name>javax.faces.DATETIMECONVERTER_DEFAULT_TIMEZONE_IS_SYSTEM_TIMEZONE</param-name>
		<param-value>true</param-value>
	</context-param>

	<!-- Welcome Page -->
	<welcome-file-list>
		<welcome-file>/pages/login.xhtml</welcome-file>
		<!-- <welcome-file>/pages/home.xhtml</welcome-file> -->
	</welcome-file-list>

	<!-- JSF Servlet is defined to container -->
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<!-- Mapping with servlet and url for the http requests. -->
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.jsf</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.faces</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>
	
	<!-- Filtri koji služe za upload slika -->
	<filter>
		<filter-name>PrimeFaces FileUpload Filter</filter-name>
		<filter-class>org.primefaces.webapp.filter.FileUploadFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>PrimeFaces FileUpload Filter</filter-name>
		<servlet-name>Faces Servlet</servlet-name>
	</filter-mapping>
	
	<context-param> 
		<param-name>
			javax.faces.VALIDATE_EMPTY_FIELDS 
		</param-name> 
		<param-value>true</param-value> 
	</context-param>

</web-app>